<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link rel="stylesheet" type = "text/css" href="user/assets/css/LoginPage.css">
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
</head>
<body>
		<nav class="navbar navbar-inverse" style = "margin-top: -40px;">
						<div class="container-fluid">
							<div class="navbar-header ">
								<a class="navbar-brand" href="#"> <img class="logo"
									src="/img/buslogo.jpg">
								</a>
							</div>
							<ul class="nav navbar-nav">
								<li id="home" class="active"><a href="#">Home</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/register"><span
										class="glyphicon glyphicon-user"></span> Sign Up</a></li>
								<li><a href="/login"><span
										class="glyphicon glyphicon-log-in"></span> Login</a></li>
							</ul>
						</div>
		</nav>
		<div class = "container">
				
			<div class = "row" style = "margin-bottom: 50px;">
				<div class = "col-md-6 mx-auto">
					
						<h2>Benefits Of Having An Account</h2>
						<ul>
							<li>View Your Ticketing History</li>
							<li>Print your Ticket AnyTime</li>
							<li>View Your Personal Profile</li>
						</ul>
				
				</div>
				<div class = "col-md-6 mx-auto">
				
					
						<div id="first">
							<div class="myform form ">
								 <div class="logo mb-3">
									 <div class="col-md-12 text-center">
										<h1>Login</h1>
									 </div>
								</div>
			                   <form th:action = "@{/signin}" method="post" >
			                           <div class="form-group">
			                              <label for="exampleInputEmail1">UserName</label>
			                              <input type="text" name="username"  class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username">
			                           </div>
			                           <div class="form-group">
			                              <label for="exampleInputEmail1">Password</label>
			                              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
			                           </div>
			                           
			                           <div th:if="${param.error}">
						                    <div class="alert alert-danger">
						                        Invalid username or password.
						                    </div>
						               </div>
			                           <div class="form-group">
			                              <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
			                           </div>
			                           <div class="col-md-12 text-center ">
			                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
			                           </div>
			                           <div class="col-md-12 ">
			                              <div class="login-or">
			                                 <hr class="hr-or">
			                                 <span class="span-or">or</span>
			                              </div>
			                           </div>
			                           <div class="col-md-12 mb-3">
			                              <p class="text-center">
			                                 <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">
			                                 </i> Signup using Google
			                                 </a>
			                              </p>
			                           </div>
			                           <div class="form-group">
			                              <p class="text-center">Don't have account? <a href="/register" id="signup">Sign up here</a></p>
			                           </div>
			                        </form>
			                 
							</div>
						</div>
				
				</div>
			
			</div>
		
		
		
		</div>
		<div class="container" style="background-color: #3c3d41">

		<footer id="myFooter">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<img src="/img/buslogo.jpg" style="width: 80%;">
					</div>
					<div class="col-sm-2">
						<h5>Get started</h5>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Sign up</a></li>
							<li><a href="#">Downloads</a></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<h5>About us</h5>
						<ul>
							<li><a href="#">Company Information</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Reviews</a></li>
						</ul>
					</div>
					<div class="col-sm-2">
						<h5>Support</h5>
						<ul>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Help desk</a></li>
							<li><a href="#">Forums</a></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<div class="social-networks">
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> <a
								href="#" class="facebook"><i class="fa fa-facebook"></i></a> <a
								href="#" class="google"><i class="fa fa-google-plus"></i></a>
						</div>
						<button type="button" class="btn btn-default">Contact us</button>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<p>© 2016 Copyright Text</p>
			</div>
		</footer>



	</div>
		
	
		

</body>
</html>